babys-first-web-app.3rafal.com {
    reverse_proxy babys-first-web-app:5000
    encode gzip
    header_up X-Forwarded-Proto {scheme}
    header_up X-Forwarded-For {remote_host}
}

fullstack-fun.3rafal.com {
    reverse_proxy fullstack-fun:5000
    encode gzip
    header_up X-Forwarded-Proto {scheme}
    header_up X-Forwarded-For {remote_host}
}

numbers.3rafal.com {
    reverse_proxy numbers:8000
    encode gzip
}

pirate.3rafal.com {
    reverse_proxy pirate:8000
    encode gzip
}